

.categoryContainer {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    /* grid-template-columns: repeat(4, 1fr);   */
    white-space: nowrap;
    width: 100%;
    height: 100%;
    -webkit-animation-name: move;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: right;
    -webkit-animation-timing-function: linear; 
}

.categoryContainer:hover {
    -webkit-animation-play-state: paused;

}

@-webkit-keyframes move {
    0% {
      margin-left: -270%;
    }
    100% {
      margin-left: 200%;
    }
  }