input {
  all: unset;
}

.searchBar {
    margin: 2rem;
    width: 20rem;
    font-family: monospace;
    background-color: #a7c7dc;
    text-emphasis-color: #2d2a34;
    border: 1px solid #ebebeb;
    padding: .4rem;
    border-radius: .2rem;
}


input:focus::placeholder {
  opacity: 5px;
  color: transparent;
}

::placeholder {
  color: #ffffff;
}


