input {
  all: unset;
}

input {
    margin: 2rem;
    color: #ebebeb;
    width: 24rem;
    font-family: monospace;
    background-color: #dda25ed2;
    border: 1px solid #ebebeb;
    padding: .4rem;
    border-radius: .2rem;
}