@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');



.logo {
    font-size: 7rem;
    color: #ebebeb;
    /* padding-top: 3rem;
    padding-left: 10rem;
    padding-right: 10rem; */
    text-align: center;
    font-family: 'Dancing Script', monospace
}

.slogan {
    font-size: 1.5rem;
    color: #ebebeb; 
    text-align: center;
}


