.category {
    border: 2px solid #ebebeb7e;
    border-radius: 2rem;
    display: inline-block;
    width: 13rem;
    height: 13rem;
    box-shadow: 0 4px 8px 0 rgba(193, 193, 193, 0.2), 0 6px 20px 0 rgba(151, 151, 151, 0.288);
    /* background-color: #f2e9e4de; */
    background-image: url('./category-background.jpg');
    margin-left: 3rem;
    margin-right: 3rem;
    display: grid;
    justify-content: center;
    align-items: center;


}

.categoryBox {
    display: flex;
    flex-direction: column;
}

.categoryBox:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.title {
    text-align: center;
    margin: 1rem;
    color: #ebebeb;
    font-family: monospace;
    font-size: 1.3rem;  
    text-shadow: 0px 0px 2px #96acba;

}
/* 
.categoryBox {
    height: fit-content;
    overflow-y: scroll;
    -webkit-animation-name: move;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: right;
    -webkit-animation-timing-function: linear;
}
 
.categoryBox:hover {
    -webkit-animation-play-state: paused;

}

@-webkit-keyframes move {
    0% {
      margin-left: -10%;
    }
    100% {
      margin-left: 10%;
    }
  } */
